#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1000;
    display: none;
  }

  .club-boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #club-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
 .club-box {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(48, 48, 48);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: height 0.5s ease-in-out;
  flex-basis: calc(33% - 20px); /* Adjust this value to control the width of the boxes */
  max-width: 250px; /* Set a maximum width for the boxes */
}

.club-box:hover {
  transform: scale(1.07);
}
  
  .club-logo-container {
    width: 100%;
    height: 120px;
    position: relative;
  }
  
  .club-logo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: blur(0);
    transition: filter 0.5s ease-in-out;
  }
  
  .club-box.expanded .club-logo {
    filter: blur(5px);
  }
  
  .club-info {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    text-shadow: 4px 4px 8px #ffffff;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease-in-out;
  }

  iframe#club-info {
    width: 100%;
    height: 500px;
    border: none;
  }
  

  .club-box {
    z-index: 1;
  }
  
  .admin-link,
.user-link,
.logged-out-link,
.anonymous-link {
  display: none;
}


  /* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.competition-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.competition-box {
  background-size: cover;
  background-position: center;
  height: 300px;
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.competition-box:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #c60B20;
}

.competition-box__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fff;
}

.competition-box__type {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.competition-box__location {
  font-size: 16px;
  margin-bottom: 5px;
  font-style: italic;
}

.competition-box__date {
  font-size: 16px;
  margin-bottom: 5px;
}

.competition-box__deadline {
  font-size: 16px;
}

.competition-box--finals:before {
  background-color: #ffbf00;
}

.competition-box--east:before {
  background-color: #c60B20;
}

.competition-box--west:before {
  background-color: #21428e;
}  